<strong>Olá, {{ student }}</strong>
<p>O instrutor <strong>{{ instructor }}</strong> respondeu seu pedido de auxílio: </p>
<p>
  <small>Pedido de ajuda em: {{ questionDate }}</small><br />
  <strong>Você: </strong> {{ question }} <br /><br />
  <small>Respondido em: {{ answerDate }}</small><br />
  <strong>{{ instructor }}: </strong> {{ answer }} <br />
</p>
