<strong>Olá, {{ student }}</strong>
<p>Seu pedido de auxílio teve uma resposta: </p>
<p>
  <small>Pedido de ajuda em: {{ questionDate }}</small><br />
  <strong>Pedido: </strong> {{ question }} <br /><br />
  <small>Respondido em: {{ answerDate }}</small><br />
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
