<strong>Olá, {{ student }}</strong>
<p>Você foi matriculado com sucesso! Confira os detalhes abaixo: </p>
<p>
  <strong>Estudante: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data da matrícula: </strong> {{ matriculationDate }} <br />
  <strong>Data de inicio: </strong> {{ startDate }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Valor total pago: </strong> {{ totalValue }} <br />
</p>
